*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #ECF0F1;
}

.login form{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    background-color: #b8e6f1;
    color: #3577b8;
    width: 100%;
    max-width: 600px;
    margin: auto;
    border-radius: 8px;
    height: 300px;
}

.login input {
    height: 40px;
    padding: 0;
    font-size: 20px;
}

.form-btn {
    border: 0;
    background-color: #A3D1FF;
    color: #2C3E50;
    padding: 0.5rem;
    width: 150px;
    border-radius: 0.25rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
	display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
}

.log-btn {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0;
    background-color: #A3D1FF;
    color: #2C3E50;
    padding: 0.5rem;
    width: 150px;
    height: 35px;
    border-radius: 0.25rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form-btn:hover {
    background-color: #7BACD4;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.container {
	max-width: 70rem;
	margin: 0 auto;
	padding: 1.5rem;
}

h1 {
	font-size: 1.6rem;
	font-weight: bold;
	text-align: center;
	color: #374ab6;
}

h2 {
	font-size: 1.2rem;
	font-weight: bold;
	margin-top: 1rem;
	color: #1da6e1;
}

.user-name{
    color: #3577b8;
    font-size: 1.5rem;
    font-weight: bold;
}

.possibleword {
    width: 100%;
    min-height: 220px;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    list-style: none;
    background-color: #b8e6f1;
    text-align: center;
}

.previous-guess {
	margin-top: 1rem;
}

.previous-guess ul {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	list-style: none;
	padding-left: 0;
	text-align: center;
}

.guess-info {
    display: flex;
    align-items: center;
}

.guess-info h2 {
    margin-right: 50px;
}

.guess-info p {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	list-style: none;
	padding-left: 0;
	text-align: center;
	margin-top: 1rem;
}

.guess-form {
	display: grid;
	grid-template-columns: 3fr 1fr;
	gap: 1rem;
}

form {
	margin-top: 1rem;
}

.form-label {
	display: block;
	margin-bottom: 1rem;
}

.form-input {
	width: 100%;
	padding: 0.5rem;
	font-size: 1rem;
	border: 1px solid #ccc;
}

.alert {
	color: red;
	font-weight: bold;
	font-size: 1rem;
	text-align: center;
}

.button-group {
    display: flex;
    align-items: center;
}

.button-group form {
    margin-right: 30px;
}

@media (max-width: 768px) {
    .possible {
        grid-template-columns: repeat(2, 1fr);
    }
}